services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:11
    container_name: forgejo
    restart: on-failure
    ports:
      - "${HOST_IP}:8082:3000"
      - "${HOST_IP}:2222:22"
    volumes:
      - /mnt/vault/forgejo:/data
    environment:
      FORGEJO__server__ROOT_URL: ${ROOT_URL}
      FORGEJO__server__SSH_PORT: ${SSH_PORT}
      FORGEJO__server__SSH_DOMAIN: ${SSH_DOMAIN}
      FORGEJO__service__DISABLE_REGISTRATION: ${DISABLE_REGISTRATION}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/healthz"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s
