[Unit]
Description=Vaultwarden restic backup
ConditionPathIsMountPoint=/mnt/vault

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vault-backup
Nice=10
IOSchedulingClass=idle
